
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:wght@300&family=Mochiy+Pop+One&display=swap');
.page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  
}
.page-cart{
  overflow-x: hidden;
  
}
.page-cart::-webkit-scrollbar {
  display: none;
}

.page-cart {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.product{
width:40%;
height: 500px;
display: flex;
flex-direction: column;

justify-content: flex-start;
align-items: center;
text-align: center;

font-family: 'Bitter', serif;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}

.product img{
width:350px;
height:300px;

box-shadow: 0px 0px 20px 3px rgb(71, 71, 43);
}
.product img:hover{
  scale:1.1
}
.allproducts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-h1{
 color:rgb(184, 184, 86);
 cursor:pointer;

}
.product-h1:hover{
  color:rgb(77, 78, 71)
}
.product-description, .product-price{
  margin-top: 5%;
  color:black
}
.productdetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 10%;
}


.productdetails-leftside{
display: flex;
flex-direction: column;
}
.productdetails-image{
width:500px;
height: 400px;
box-shadow: 0px 0px 20px 3px rgb(71, 71, 43);
}
.imagess-div{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.productdetails-images{
  width:150px;
height: 100px;
}
.hoverimages{
  scale:1.1
}
.other-div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 30px;
text-align: center;
}
.other-div img{
  width:250px;
height: 200px;

}
.other-div img:hover{
scale:1.1

}
.other{
  display: flex;
 width:100%;
  
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Bitter', serif;

}
.marquee {
  position: relative;
  height: 400px;
  width: 80%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items: flex-start;

}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 60%;
}
.pushnote{
color:black;
text-align: center;
}
.pushnote:hover{
  color:rgb(8, 179, 8)
}


.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes title {
  from { transform: translateX(-200%); }
  to { transform: translateX(0%); }
}
.navbarlayout{
display:flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
font-size: 100%;
height: 10%;

background:  linear-gradient(0.25turn, #121213, #676965, #abd31a,#676965,#121213);
 }
.navbarlayout-title{
  font-family: 'Anton', sans-serif;
  color:rgb(242, 243, 237);
 margin-left:10%;
 will-change: transform;
 animation: title 8s linear infinite;
 width: 30%;
 overflow: hidden;

}
.navbarlayout-shopcart{
  padding:5px;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  margin-top: 7px;
  color:rgb(242, 243, 237);
  scale:1.7;

}
.navbarlayout-shopcart:hover{
 scale: 1.3;
 color:rgb(94, 128, 0);

}
.formbutton{
 
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.navbarlayout-shopcart-scale{
  scale:1.3
}
.navbarlayout-span{
  font-size: 70%;
 margin-left: 5%;
}
.buttondetails-cart{
  margin-top: 10px;
  color:rgb(76, 182, 27);
  background-color: #cce081;
  border-radius: 5px;
}
.buttondetails-cart:disabled{
  opacity: 0.5;
}
.button-details-div{
  display: flex;
  justify-content: center;
  align-items: center;
font-size: xx-large;
border: 2px solid greenyellow;
height: 50px;
width:100px
}
.pagedetails-p{
  font-family: 'Anton', sans-serif;
  font-size: xx-large;
}
.button-details-div span{
  width:33%;
  text-align: center;
}
.button-details-left{
  font-size: xx-large;
 border: 1px solid greenyellow;
 padding :5px;
 border-top:none;
  border-bottom: none;
  border-left:none;
  background-color: inherit;
  width:33%
}
.button-details-right{
  font-size: xx-large;
  border: 1px solid greenyellow;
  padding :5px;
  border-top:none;
  border-bottom: none;
  border-right:none;
  background-color: inherit;
  width:33%
 
 }
 .productdetails-rightside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
 
 }
 .shopcart{
  
  
 background-color: rgb(215, 235, 146);
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
height: 100%;
width: 300px;
flex-wrap: nowrap;
animation: shopcarttransformation 800ms ease-in-out;
padding: 5px;
}
 .cartitem{
margin-left: 10px;
 }
 
 .shopcart-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  font-family: 'Anton', sans-serif;
  color:#676965
 
 }
 @keyframes shopcarttransformation{
0%{
transform:translateX(300px)
};

100%{
  transform:translateX(0px)
}

 }
 .buttononcart{
  border:none;
   background-color:inherit;
   font-size: x-large;
 }
 .buttononcart:hover{
  color:#1c920d;
  scale:1.2
 }
 .form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .form{
  display: flex;
  flex-direction: column;
  width:30%;
  justify-content: center;
  align-items: center;
 
 }
 .input{
  height: 30px;
  width:100%;
  border:2px solid rgb(125, 175, 8);
  background-color: #edf7c9;
  
 }
 
 .form button{
  width:30%;
  color:green;
  background-color: #cce081;
 }
 .form-h1{
  font-family: 'Anton', sans-serif;
 }
 .form button:hover,form button:active{
  scale:1.1;
  color: #7a941a;
  background-color:green;
 }
 .form p{
  font-size: larger;
  color:rgb(64, 73, 64);
 }
 .input-error{
background-color: rgb(241, 189, 189);
color:red;
border:2px solid red;
height: 30px;
width:100%;
 }
 .comment-div{
 display: flex;
 flex-direction: column;
 margin-top: 30px;
 width:50%;
 justify-content: flex-start;
 align-items: flex-start;
 background-color: #cfe67f;
 padding-left: 30px;
 padding-right: 30px;
 padding-bottom: 10px;
 height: auto;


 }

 .comments{
background-color: rgb(245, 249, 253);
margin-top: 10px;
width:100%;
height: auto;
padding-left: 5px;

 }
 .comments-name{
  color:#7f8b54;
 font-family:'Anton', sans-serif;
 }
 
 .footer{
 display: flex;
 margin-top: 10px;
 background-color: #e5eec7;
 justify-content: center;
 width: 100%;
 }
 .footer-div{
  display: flex;
 flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
 max-height: 100%;
  width:33.3%;
  color:grey;
  border-right: 1px solid rgb(214, 219, 168);
  padding-right: 5%;
  padding-left: 5%;
  
 }
 
 .emailjserror{
   background-color: rgb(199, 204, 126);
 }
 .emailjsbutton{
 background-color: #c4c117;
 margin-left:5px;
 color:rgb(92, 91, 91);
 border-radius: 5px;

 }
.linkic:hover{
  color:black
}


.shopcart2{
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width:50%;
  justify-content: flex-start;
  height: 70vh;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  background-color: #6d8a05;
  margin-top: 10px;
  color:white;
  box-shadow: 0px 0px 20px rgb(37, 39, 36);
}
.shopcart2::-webkit-scrollbar {
  display: none;
}

.shopcart-navbar2{
  display: flex;
  flex-direction: row;
  width:50%;
  justify-content: center;
}

.buttononcart2{
  display: none;
  
}
.shopcartimage{
  position: absolute;
  height: 40%;
  margin-top: 20%;
 

}
.comments-comment{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.commentscomment{
  max-width: 50%;
  overflow-x: scroll;
}

.commentscomment::-webkit-scrollbar{
  display: none;
}

.commentscomment{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.shopcartimage:hover{
  scale: 1.2;
}



.linkback{
  color:white
}
.linkback:hover{color:black}
.divofoneitem2,.divofoneitem{
  border-bottom: 1px solid white;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonrecyclebin{
  border-radius: 5px;
  color:green;
  margin-top: 10px;


}
.buttonrecyclebin:hover{
  background-color: #121213;
  scale:0.9
}
.removeitem{
margin-left: 5px;
}
.minus{
 margin-left: 5px;
 border-radius: 50%;
}
.minus:hover, .plus:hover{
background-color:black;
color:green
}
.plus{
  margin-right: 5px;
  border-radius: 50%;
}
.deletebutton,.updatebutton{
 margin-left: 20px;
 background-color: #1c920d;
 color:white;
 height: 70%;
 
}
.updatebutton:hover,.deletebutton:hover{
  scale: 1.3;
}
.errorcomment{
color:#121213;
background-color: rgb(193, 215, 243);
margin-bottom: 5px;
}
.normalinput{
  border:2px solid rgb(125, 175, 8);
  background-color: #edf7c9;
  margin-bottom: 5px;
}
.updatecartitembutton{
color:#1c920d;
background-color: #cfe67f;
}
.updatedcart{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.inputupdatename{
  border:2px solid rgb(125, 175, 8);
  background-color: #edf7c9;
  opacity: 0.7;
  margin-bottom: 5px;
}





 @media only screen and (max-width:1550px){
  .navbarlayout{font-size: 80%;}
  .product-h1{
    font-size: x-large;
    
   }
   .productdetails{
    padding-right: 5%;
   }
 }
 @media only screen and (max-width:1212px){
  .product-h1{
    font-size: large;
    
   }
   .product img{
    width:270px;
    height:220px;}
  .navbarlayout{font-size: 60%;}
  .footer-div{
    font-size: small;
  }
  .productdetails-image{
    width:400px;
    height: 300px;
 }
 .productdetails-images{
  width:130px;
  height: 80px;}
  .productdetails{
    padding-left: 15%;
    padding-right: 5%;
  }
  .other-div img{
    width:250px;
  height: 150px;
  
  }
  .marquee{
    width:70%
  }
  
}
 @media only screen and (max-width:935px){
.shopcart2{
  height: 50vh;
}
  .product img{
    width:230px;
    height:180px;}
  .navbarlayout{font-size: 40%;}
  .product-h1{
    font-size: medium;
   
   }
   .footer-div{
    font-size: x-small;
    padding: 5px;
  }
  .footer-div p{
    margin-top: -5px;
  }
  .emailjsinput, .emailjserror{
   width:50%
  }
 .emailjsbutton{
  width:55px
 }
 .productdetails{
  padding-left: 9%;
  padding-right: 1%;
 }
 }
 @media only screen and (max-width:880px){
  .other-div img{
    width:150px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  }
  .track {
    white-space:normal;
   
  }

 }
 @media only screen and (max-width:780px){
 .shopcart2{
  height:60vh;
  width:60%
 }
 .pagedetails-p{
 
  font-size: x-large;
}
 
  .shopcartimage{
    height: 250px;
    width:250px;
    margin-top: 30%;
   
   }
 
  .allproducts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .product{
    width:40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  .shopcart, .shopcart2{
    font-size: smaller;
  }    
  .product img{
    width:350px;
    height:300px;}
  .navbarlayout{font-size: 40%;}
  .product-h1{
    font-size: x-large;
    
   }
   .productdetails{
    padding-left: 5%;
    padding-right: 5%;
   }
   .productdetails-image{
    width:300px;
    height: 230px;
 }
 .productdetails-images{
  width:100px;
  height: 60px;}
  .comments{
    font-size: smaller;
  }
  .comments-name{
    font-size: smaller;
  }
  .updatebutton,.deletebutton{
    margin-left: 10px;
    font-size: smaller;
  }
 }

 @media only screen and (max-width:550px){
  .form-h1{
    font-size:x-large;
  }
  .emailjsinput, .emailjserror{
    width:50%;
    font-size: x-small;
   }
  .emailjsbutton{
   width:45px;
   font-size: x-small;
  }
  .footer-div{
    font-size: xx-small;
    padding: 2px;
  }
.button-details-div{
  font-size: x-large;
}
.button-details-left{
  font-size: x-large;
 
}
.button-details-right{
  font-size: x-large;
 
}
.shopcart, .shopcart2{
  font-size: x-small;
} 
.button-details-div{
  
height: 40px;
width:70px
}
.pushnote{
  font-size: x-small;
}
.other-div img{
  height: 70px;
  width: 100px;
}
.comments{
  font-size: x-small;
}
.comments-name{
  font-size: x-small;
}
.updatebutton,.deletebutton{
  margin-left: 5px;
  font-size: x-small;
}
.form{
  font-size:small;
 }
 .formbutton{
 
  font-size: x-small;
 
}
 }
 @media only screen and (max-width:480px){
  .detailsprice{
    font-size: small;
    text-align: center;
  }
  .pagedetails-p{
   
    font-size: medium;
  }
  .form-h1{
    font-size:large;
  }
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
  }
  .footer-div{
    border-right:0px;
    font-size: smaller;
    width:90%;
    align-items: center;
  border-bottom: 1px solid rgb(197, 194, 194);

  }
  .button-details-div{
    font-size: large;
    height: 40px;
  width:70px
  }
  .button-details-left{
    font-size: large;
   
  }
  .button-details-right{
    font-size: large;
   
  }
 
  
   .productdetails-images{
    width:70px;
    height: 40px;
   }
   .productdetails-image{
    width:200px;
    height: 130px;
   }
   .button-details-div{
    height: 30px;
    width:50px;
    margin-top: 70px;
    font-size: small;
  }
 .form button{
  text-align: center;

 }
 .shopcartimage{
 width: 170px;
 height: 170px;
  margin-top: 50%;
 }
 .shopcart2{
  
 }
 }
 @media only screen and (max-width:410px){
  .detailsprice{
    font-size: x-small;
   
  }
  .shopcart2{
    width:70%;
    height: 40vh;
  }
  .shopcartimage{
    height: 130px;
    width:130px;
    margin-top: 70%;
   
   }
  .formbutton{
 
   font-size: 20%;
   
  }
  .comments{
    font-size: xx-small;
  }
  .comments-name{
    font-size: xx-small;
  }
  .updatebutton,.deletebutton{
    margin-left: 5px;
    font-size: xx-small;
  }
     
  .product img{
    width:250px;
    height:200px;}
  .navbarlayout{font-size: 40%;}
  .product-h1{
    font-size: large;
    
   }
   .product{
    margin-top: -30%;
   }
   .pushnote{
    font-size: xx-small;
   }
   .shopcart, .shopcart2, .removeitem{
    font-size: xx-small;
  }
  .h2allitems{display: none;}
  .shopcartimage{
    margin-top: 30%;
  }
 }




 @media only screen and (max-width:370px){
  .shopcartimage{
    height: 120px;
    width:120px;
    margin-top: 40%;
   
   }
  .shopcart, .shopcart2 .removeitem{
    font-size: 10%;
  }
.productdetails-image{
 width: 150px;
 height: 100px;
}
.productdetails-images{
  width: 50px;
  height: 30px;
 }
 .buttondetails-cart{
  font-size: x-small;
 }
 }
 @media only screen and (max-width:320px){
  .detailsprice{
    font-size:xx-small;
    text-align: center;
  }
  .pagedetails-p{
   
    font-size: x-small;
  }
  .minus, .plus{
    scale:0.7;
    margin:0px
   
    }
    .form-h1{
      font-size:medium;
    }
 }
 
 @media only screen and (max-width:300px){
  .form-h1{
    font-size:smaller;
  }
  .productdetails-image{
    width: 100px;
    height: 80px;
   }
   .productdetails-images{
     width: 40px;
     height: 20px;
    }
  .product img{
    width:150px;
    height:100px;}
  .navbarlayout{font-size: 40%;}
  .product-h1{
    font-size: medium;
    
   }
   .product{
    margin-top: -80%;
   }
   .product-description{
    margin-top: 0%;
    font-size: small;
   }
   .product-price{
   font-size: small;
    color:black
  }
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
  }
  .footer-div{
    border-right:0px;
    font-size: x-small;
    

  }
  .button-details-div{
    font-size: medium;
    height: 20px;
  width:50px
  }
  .button-details-left{
    font-size: medium;
   
  }
  .button-details-right{
    font-size: medium;
   
  }
  .buttondetails-cart{
    font-size: x-small;
  }
  .other-div img{
    height: 50px;
    width: 70px;
  }
 
 }